<div class="news">
  <h2>Activities</h2>
  {% if site.activities %}
    <div class="table-responsive">
    <table class="table table-sm table-borderless">
    {% assign activities = site.activities | reverse %}
    {% for item in activities limit: site.activities_limit %}
      <tr>
        <th scope="row">{{ item.date | date: "%b %2d, %Y" }}</th>
        <td>
          {% if item.inline %}
            {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
          {% else %}
            <a class="activities-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </table>
    </div>
  {% else %}
    <p>No activities so far...</p>
  {% endif %}
</div>
